In [2]:
# Dependencies
import pandas as pd
import numpy as np
import sqlalchemy
import psycopg2
import matplotlib as plt
%matplotlib inline

In [3]:
# Name of the CSV file Loading the Primary Voting Results Clean.
# Primary Results were cleaned via excel due to missing FIPS and remapped by state if missing or erroneous fips due to time constraint.
primary_results_raw = 'data\election\primary_results_raw.csv'

# The cleaned data read the CSV in pandas | converted fips to 5 digit position with leading zeros
# https://stackoverflow.com/questions/23836277/add-leading-zeros-to-strings-in-pandas-dataframe
df_election_raw = pd.read_csv(primary_results_raw, encoding="ISO-8859-1",converters={'fips': '{:0>5}'.format})
df_election_raw.head()

,state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes
0,Alabama,AL,Autauga,1001.0,Democrat,Bernie Sanders,544,0.182
1,Alabama,AL,Autauga,1001.0,Democrat,Hillary Clinton,2387,0.800
2,Alabama,AL,Baldwin,1003.0,Democrat,Bernie Sanders,2694,0.329
3,Alabama,AL,Baldwin,1003.0,Democrat,Hillary Clinton,5290,0.647
4,Alabama,AL,Barbour,1005.0,Democrat,Bernie Sanders,222,0.078

In [5]:
from sqlalchemy import create_engine
import psycopg2 
import io

In [8]:
engine = create_engine('postgresql://postgres:password@localhost:5432/etlproject')

df_election_raw.head(0).to_sql('2014-election-raw', engine, if_exists='replace',index=False) #truncates the table

conn = engine.raw_connection()
cur = conn.cursor()
output = io.StringIO()
df_election_raw.to_csv(output, sep='\t', header=False, index=False)
output.seek(0)
contents = output.getvalue()
cur.copy_from(output, '2014-election-raw', null="") # null values become ''
conn.commit()

SyntaxError: syntax error at or near "2014"
LINE 1: COPY 2014-election-raw FROM stdin WITH DELIMITER AS ' ' NULL...
             ^