In [1]:
# Dependencies
import pandas as pd
import numpy as np
import sqlalchemy
import psycopg2
import matplotlib as plt
%matplotlib inline

In [2]:
# Name of the CSV file Loading the Primary Voting Results Clean.
# Primary Results were cleaned via excel due to missing FIPS and remapped by state if missing or erroneous fips due to time constraint.
primary_results = 'data\election\primary_results_clean.csv'

In [3]:
# The cleaned data read the CSV in pandas | converted fips to 5 digit position with leading zeros
# https://stackoverflow.com/questions/23836277/add-leading-zeros-to-strings-in-pandas-dataframe
df_election = pd.read_csv(primary_results, encoding="ISO-8859-1",converters={'fips': '{:0>5}'.format})
df_election.head()

,state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes
0,Alabama,AL,Autauga,01001,Democrat,Bernie Sanders,544,0.182
1,Alabama,AL,Autauga,01001,Democrat,Hillary Clinton,2387,0.800
2,Alabama,AL,Autauga,01001,Republican,Ben Carson,1764,0.146
3,Alabama,AL,Autauga,01001,Republican,Donald Trump,5387,0.445
4,Alabama,AL,Autauga,01001,Republican,John Kasich,421,0.035

In [4]:
# We imported FIPS CSV spreadsheet into a PostGres Database & created table via sql.
from sqlalchemy import create_engine
engine = create_engine('postgresql://postgres:password@localhost:5432/etlproject')
connection = engine.connect()

df_FIPS = pd.read_sql_query('''SELECT * FROM public."FIPS";''', engine)

In [6]:
# renamed columns to easily merge dataframes on column titles
df_FIPS.rename(columns={'ZIP':'zipcode','COUNTYNAME':'county','STATE':'state','STCOUNTYFP':'fips','CLASSFP':'classfp'},inplace=True)

# Merged elections dataframe with fips dataframe on the common fips column
df_merge = pd.merge(df_election, df_FIPS, how="left", on=["fips", "fips"])

In [7]:
# renamed & dropped unneeded duplicate columns
df_merge.rename(columns={"county_y":"county"})
df_merge.drop(['state_x','county_x','state_y','classfips'], axis=1, inplace=True)
df_merge.head()

,state_abbreviation,fips,party,candidate,votes,fraction_votes,zipcode,county_y
0,AL,01001,Democrat,Bernie Sanders,544,0.182,36003,Autauga County
1,AL,01001,Democrat,Bernie Sanders,544,0.182,36006,Autauga County
2,AL,01001,Democrat,Bernie Sanders,544,0.182,36067,Autauga County
3,AL,01001,Democrat,Bernie Sanders,544,0.182,36066,Autauga County
4,AL,01001,Democrat,Bernie Sanders,544,0.182,36703,Autauga County

In [8]:
# importing into pandas tax information for the 2014 fiscal year, focusing on AGI & Salaries / Wages
# formating zipcode to 5 positions.
tax_file = 'data/tax/2014.csv'
df_tax = pd.read_csv(tax_file, encoding="ISO-8859-1",converters={'zipcode': '{:0>5}'.format})
df_tax.head()

,statefips,state,zipcode,agi_stub,n1,mars1,mars2,mars4,prep,n2,...,a10300,n85530,a85530,n85300,a85300,n11901,a11901,n11902,a11902,year
0,25,MA,01001,1,2890,2300,290,260,1470,3130,...,1161,0,0,0,0,270,220,2340,3334,2014
1,25,MA,01001,2,2210,1360,490,320,1210,3620,...,5873,0,0,0,0,280,385,1900,4163,2014
2,25,MA,01001,3,1550,750,590,170,930,2940,...,9075,0,0,0,0,300,565,1230,3297,2014
3,25,MA,01001,4,920,240,600,70,560,2130,...,8240,0,0,0,0,200,501,710,2202,2014
4,25,MA,01001,5,1160,190,920,40,770,3000,...,20807,0,0,0,0,380,1548,750,2929,2014

In [9]:
# copying out & renaming AGI, Salaries / Wages & Zipcodes to merge with 2016 primary results merging on zipcode.
# column "a00200" is Salaries, "a00100" is Adjusted Gross Income
df_merge_tx_clean = df_tax[['a00200','a00100','zipcode']].copy()
df_final= pd.merge(df_merge, df_merge_tx_clean, how="left", on=["zipcode", "zipcode"])
df_final.rename(columns={"a00200":"Salaries","a00100":"Adjusted Gross Income"}, inplace=True)
df_final.head()

,state_abbreviation,fips,party,candidate,votes,fraction_votes,zipcode,county_y,Salaries,Adjusted Gross Income
0,AL,01001,Democrat,Bernie Sanders,544,0.182,36003,Autauga County,4955.0,5526.0
1,AL,01001,Democrat,Bernie Sanders,544,0.182,36003,Autauga County,5477.0,6288.0
2,AL,01001,Democrat,Bernie Sanders,544,0.182,36003,Autauga County,3990.0,5467.0
3,AL,01001,Democrat,Bernie Sanders,544,0.182,36003,Autauga County,2992.0,4383.0
4,AL,01001,Democrat,Bernie Sanders,544,0.182,36003,Autauga County,5055.0,8231.0

In [10]:
# dump entire data into excel for previewing prior to a pandas to database import
# outputting data to an excel spreadsheet.
# extraction takes 9 minutes to process
df_final.to_excel("data\2019-etl-vote-tax-fips.xlsx")

KeyboardInterrupt:

In [11]:
from sqlalchemy import create_engine
import psycopg2 
import io

In [12]:
# inject our merged dataframe ( 2016 Election Results | 2014 Tax Information merged via the FIPS Crosswalk union table.)
# into the postgres database called etlproject where it creates a table called electiontaxfips.
# it will replace the table if it exists.

engine = create_engine('postgresql://postgres:password@localhost:5432/etlproject')

df_final.head(0).to_sql('electiontaxfips', engine, if_exists='replace',index=False) #truncates the table

conn = engine.raw_connection()
cur = conn.cursor()
output = io.StringIO()
df_final.to_csv(output, sep='\t', header=False, index=False)
output.seek(0)
contents = output.getvalue()
cur.copy_from(output, 'electiontaxfips', null="") # null values become ''
conn.commit()